apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod

# Generate prod-specific secrets
secretGenerator:
- name: cfb-secrets
  literals:
  - CFBD_API_KEY=your_prod_api_key_here

# Patch Deployment with prod-specific values
patchesJson6902:
- target:
    kind: Deployment
    name: cfb
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
    - op: replace
      path: /spec/template/spec/containers/0/env/3/value
      value: "redis-prod:6379"
