# values.yaml
replicaCount: 1

image:
  repository: amokscience/cfb
  pullPolicy: IfNotPresent
  tag: "dev-latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 80

# Environment variables
env:
  HTTP_PORT: 8070
  CFBD_API_BASE: https://api.collegefootballdata.com
  # CFBD_API_KEY is stored as a secret and injected via Kustomize
  REDIS_ADDR: localhost:6379

#resources:
#  limits:
#  requests:

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# Secrets (to be overridden by Kustomize)
secrets:
  cfbdApiKey: "placeholder-api-key"
