apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmp-cm
  namespace: argocd
data:
  helm-kustomize.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: helm-kustomize
    spec:
      version: 1.0
      command:
      - sh
      - -c
      args:
      - |
        HELM_CHART_PATH=${HELM_CHART_PATH:-.}
        HELM_DEFAULTS_FILE=${HELM_DEFAULTS_FILE:-}
        HELM_VALUES_FILE=${HELM_VALUES_FILE:-}
        
        helm template cfb "$HELM_CHART_PATH" \
          ${HELM_DEFAULTS_FILE:+-f "$HELM_DEFAULTS_FILE"} \
          ${HELM_VALUES_FILE:+-f "$HELM_VALUES_FILE"} \
          | kustomize build $(pwd) --load-restrictor LoadRestrictionsNone -f -
      discover:
        fileName: "kustomization.yaml"
