apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cfb-qa

bases:
- ../../

# QA-specific values overrides
helmCharts:
- name: cfb
  repo: ""
  releaseName: cfb
  namespace: cfb-qa
  valuesInline:
    replicaCount: 2
    image:
      tag: qa-latest
    env:
      HTTP_PORT: 8080
      CFBD_API_BASE: https://api.collegefootballdata.com
      REDIS_ADDR: redis-qa:6379

# Patch resources for QA environment
patchesStrategicMerge:
- deployment-patch.yaml

# Generate QA-specific secrets
secretGenerator:
- name: cfb-secrets
  envs:
  - .env.qa
